@page "/copyrights"

<h3>Copyrights</h3>

<div class="filter-form mb-3">
    <input placeholder="Name" @bind="filter.Name" class="form-control mb-1" />
    <input placeholder="Short Name" @bind="filter.ShortName" class="form-control mb-1" />
    <input placeholder="Description" @bind="filter.Description" class="form-control mb-1" />
    <select class="form-control mb-1" style="width: auto;" @bind="filter.OrderBy">
        @foreach (var item in OrderByOptions)
        {
            <option value="@item.Key">
                @item.Value
            </option>
        }
    </select>
    <select class="form-control mb-1" style="width: auto;" @bind="filter.OrderDir">
        @foreach (var item in orderDirOptions)
        {
            <option value="@item.Key">
                @item.Value
            </option>
        }
    </select>

    <button class="btn btn-primary" @onclick="ApplyFilter">Apply Filter</button>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Short Name</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        @if (Items == null)
        {
            <tr><td colspan="5">Loading...</td></tr>
        }
        else if (!Items.Any())
        {
            <tr><td colspan="5">No copyrights found.</td></tr>
        }
        else
        {
            @foreach (var copyright in Items)
            {
                @if (copyright.IsDeleted)
                {
                    <tr>
                        <td><del>@copyright.Id</del></td>
                        <td><del>@copyright.Name</del></td>
                        <td><del>@copyright.ShortName</del></td>
                        <td><del>@copyright.Description</del></td>
                        <td>
                            <button class="btn btn-sm btn-primary me-1" @onclick="() => NavigateToEdit(copyright.Id)">Edit</button>
                            <button class="btn btn-sm btn-danger" @onclick="() => DeleteCopyright(copyright.Id)">Delete</button>
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@copyright.Id</td>
                        <td>@copyright.Name</td>
                        <td>@copyright.ShortName</td>
                        <td>@copyright.Description</td>
                        <td>
                            <button class="btn btn-sm btn-primary me-1" @onclick="() => NavigateToEdit(copyright.Id)">Edit</button>
                            <button class="btn btn-sm btn-danger" @onclick="() => DeleteCopyright(copyright.Id)">Delete</button>
                        </td>
                    </tr>
                    
                }
                
            }
        }
    </tbody>
</table>


<div class="d-flex align-items-center gap-3 mt-3">
    <div class="d-flex align-items-center gap-2">
        <label for="itemsPerPage">Items per page:</label>
        <select id="itemsPerPage" class="form-select" style="width: auto;" @onchange="ItemsPerPageChanged">
            @foreach (var count in ItemsPerPageOptions)
            {
                <option value="@count" selected="@(pager.ItemsPerPage == count)">
                    @count
                </option>
            }
        </select>
    </div>
    <button class="btn btn-secondary" @onclick="FirstPage" disabled="@((pager.Page == 1))">First Page</button>
    <button class="btn btn-secondary" @onclick="PrevPage" disabled="@(!CanPrev)">Previous</button>
    <span>Page @pager.Page of @pager.PagesCount</span>
    <button class="btn btn-secondary" @onclick="NextPage" disabled="@(!CanNext)">Next</button>
    <button class="btn btn-secondary" @onclick="LastPage" disabled="@((pager.Page == pager.PagesCount))">Last Page</button>
</div>

